body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
.block {
    background-color: cornsilk;
    width: 600px;
    height: 500px;
    text-align: center;
    color: brown;
}
form div {
    margin: 30px;
    color: chartreuse;
}
input {
    width: 50%;
}